@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

       
        $('#btnReset').click(function () {
            ResetData();
        });


        $('#btnView').click(function () {

            PopupWindow.open();

            $.ajax({
                url: '/CountryInfo/GetCountry',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }

                },
                error: function () {
                    alert('Error occured!');
                },
                //complete: function () { },
            });

        });

        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#PopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CountryCode",
                        fields: {
                            CountryCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel",{ template: "<input type='text' id='txtPopupInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "CountryCode", title: "CountryCode", width: 80 },
                 { field: "CountryName", title: "CountryName", width: 100 },
                 { field: "ShortName", title: "ShortName", width: 80 }

            ]

        }).data('kendoGrid');

        $('#PopupWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            PopupWindow.close();
            SetMasterData(selectRow);
        });

        //Produc Name twise Filter table row
        $("#txtPopupInput").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CountryCode", operator: "contains", value: val },
                     { field: "CountryName", operator: "contains", value: val },
                    { field: "ShortName", operator: "contains", value: val },
                ]
            });
        });

        $('#btnSave').click(function () {
            var Input = InputValidation('CountryName');

            if (Input == 0) {
                master.CountryCode = $('#CountryCode').val();
                master.CountryName = $('#CountryName').val();
                master.ShortName = $('#ShortName').val();;
                $.ajax({
                    url: '/CountryInfo/frmCountryInfo',
                    data: JSON.stringify(master),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            $("#CountryCode").val(data.ID);
                            OperationMsg(data.Mode);
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                        }

                    },
                    error: function () { ErrorFrmClientMsg(); },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            }
            else {
                ValidationMsg();
            }

        });
        var master = { "CountryCode": "", "CountryName": "", "ShortName": "" };
    });
</script>


<div class="box-header with-border">
    @*Form Title*@
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
        <div style="text-align:right;">
            <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save"></i>Save</button>
            <button id="btnView" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
            @*<button id="btnDelete" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>Delete</button>*@
            <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
        </div>
    </div>
</div>
<div class="box-body">
    @*Form Body Content*@
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> Country Name:</div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3"><input type="text" maxlength="100" id="CountryName" name="CountryName" placeholder="Country Name" class="RequiredField form-control" /></div>
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"><input type="text" id="CountryCode" name="CountryCode" readonly="readonly" class="form-control" /></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">Short Name:</div>
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"><input type="text" maxlength="50" id="ShortName" name="ShortName" placeholder="Short Name" class="RequiredField form-control" /></div>

        </div>
    </div>
</div>
<div class="box-footer">@*Form Footer*@</div>
<div class="row">
    <div id="PopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGrid" class="PopUpGrid"></div>
    </div>
</div>


