@{
    //ViewBag.Title = "frmGmpCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CustomCSS/InputText.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        EventPermission();
        $('#btnReset').click(function () {
            //  master.StrengthCode = $("#StrengthCode option:selected").val();
            ResetData();
            $("#Status").val("Active");
        });

        // Company window for find button
        var CompanyWindow = $("#CompanyWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Company."
        }).data("kendoWindow").center();


        $('#btnFind').click(function () {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {

                    var flatData = [];

                    $.each(data, function (i, company) {

                        if (company.Units && company.Units.length > 0) {
                            $.each(company.Units, function (j, unit) {
                                flatData.push({
                                    CompanyCode: company.CompanyCode,
                                    CompanyName: company.CompanyName,
                                    LicenseNo: company.LicenseNo,
                                    CompanyUnitCode: unit.CompanyUnitCode,
                                    CompanyUnitName: unit.CompanyUnitName
                                });
                            });
                        } else {
                            flatData.push({
                                CompanyCode: company.CompanyCode,
                                CompanyName: company.CompanyName,
                                LicenseNo: company.LicenseNo,
                                CompanyUnitCode: "",
                                CompanyUnitName: ""
                            });
                        }
                    });

                    $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(flatData);
                }
            });
        });
        $("#CompanyCode").on('keyup keypress keydown click dblclick', function (e) {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {

                    var flatData = [];

                    $.each(data, function (i, company) {

                        if (company.Units && company.Units.length > 0) {
                            $.each(company.Units, function (j, unit) {
                                flatData.push({
                                    CompanyCode: company.CompanyCode,
                                    CompanyName: company.CompanyName,
                                    CompanyUnitCode: unit.CompanyUnitCode,
                                    CompanyUnitName: unit.CompanyUnitName
                                });
                            });
                        } else {
                            flatData.push({
                                CompanyCode: company.CompanyCode,
                                CompanyName: company.CompanyName,
                                CompanyUnitCode: "",
                                CompanyUnitName: ""
                            });
                        }
                    });

                    $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(flatData);
                }
            });
        });
        //Initializing Main page details Kendo Grid Colums
        var companyGrid = $('#CompanyWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CompanyCode",
                        fields: {
                            CompanyCode: { type: "string" },
                            Units: { defaultValue: [] }
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtCompanyKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "CompanyCode", title: "CompanyCode", width: 80 },
                 { field: "CompanyName", title: "CompanyName", width: 100, filterable: { multi: true } },
                { field: "CompanyUnitCode", title: "CompanyUnitCode", width: 160 },
                { field: "CompanyUnitName", title: "CompanyUnitName", width: 80 }
            ]

        }).data('kendoGrid');

        $('#CompanyWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            $('#CompanyCode').val(selectRow.CompanyCode);
            $('#CompanyName').val(selectRow.CompanyName);
            $('#CompanyUnitCode').val(selectRow.CompanyUnitCode);
            $('#CompanyUnitName').val(selectRow.CompanyUnitName);
            CompanyWindow.close();
            changeAny = 1;

        });

        //Company Name wise Filter table row
        $("#txtCompanyKeyword").keyup(function () {
            var val = $(this).val();
            $("#CompanyWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "Address", operator: "contains", value: val }
                ]
            });
        });


       

        /// for dosage form////
        /// Creating POP UP For the GetDosageForm Grid To Load
        var PopupWindowDosageForm = $("#PopupWindowDosageForm").kendoWindow({
            width: "50%",
            height: "70%",
            draggable: true,
            modal: true,
            title: "List Of Values."
        }).data("kendoWindow").center();



        /// On Key pressing event in DosageForm Selection Field
        // $("#StrengthName").on('keyup keypress keydown dblclick', function (e) {
        $('#btnDosageForm').click(function () {
            PopupWindowDosageForm.open();
            $.ajax({
                url: '/DosageFormInfo/GetDosageForm',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridDosageForm').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });

        $("#DosageFormName").on('keyup keypress keydown click dblclick', function (e) {
            PopupWindowDosageForm.open();
            $.ajax({
                url: '/DosageFormInfo/GetDosageForm',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridDosageForm').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });

        /// Creating GRID For Loading DosageForm Information
        var PopupGridDosageForm = $('#PopupWindowGridDosageForm').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "DosageFormCode",
                        fields: {
                            DosageFormCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtPopupDosageForm'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "DosageFormCode", title: "DosageForm Code", width: 80 },
                 { field: "DosageFormName", title: "DosageForm Name", width: 100 },

            ]

        }).data('kendoGrid');

        $("#txtPopupDosageForm").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGridDosageForm").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "DosageFormCode", operator: "contains", value: val },
                     { field: "DosageFormName", operator: "contains", value: val }

                ]
            });
        });

        /// On Grid Double Click, append data in appropriate field
        $('#PopupWindowGridDosageForm').dblclick(function () {
            var grid = $(this).data('kendoGrid');

            var selectRow = grid.dataItem(grid.select());
            $('#DosageFormCode').val(selectRow.DosageFormCode);
            $('#DosageFormName').val(selectRow.DosageFormName);
            PopupWindowDosageForm.close();
        });
        /// end Dosage form//

        /// for ProductType////
        /// Creating POP UP For the ProductType Grid To Load
        var PopupWindowProductType = $("#PopupWindowProductType").kendoWindow({
            width: "50%",
            height: "70%",
            draggable: true,
            modal: true,
            title: "List Of Values."
        }).data("kendoWindow").center();



        /// On Key pressing event in PRODUCT TYPE Selection Field
        $("#btnProductType").click(function () {
            PopupWindowProductType.open();
            $.ajax({
                url: '/ProductTypeInfo/GetProductType',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridProductType').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });


        /// Creating GRID For Loading ProductType Information
        var PopupGridProductType = $('#PopupWindowGridProductType').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ProductTypeCode",
                        fields: {
                            ProductTypeCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtPopupProductType'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ProductTypeCode", title: "ProductType Code", width: 80 },
                 { field: "ProductTypeName", title: "ProductType Name", width: 100 },

            ]

        }).data('kendoGrid');

        $("#txtPopupProductType").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGridProductType").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "ProductTypeCode", operator: "contains", value: val },
                     { field: "ProductTypeName", operator: "contains", value: val }

                ]
            });
        });

        /// On Grid Double Click, append data in appropriate field
        $('#PopupWindowGridProductType').dblclick(function () {
            var grid = $(this).data('kendoGrid');

            var selectRow = grid.dataItem(grid.select());
            $('#ProductTypeCode').val(selectRow.ProductTypeCode);
            $('#ProductTypeName').val(selectRow.ProductTypeName);
            PopupWindowProductType.close();
        });
        /// end ProductTypeName form//


        /// for THERAPEUTIC////
        /// Creating POP UP For the TherapeuticClass Grid To Load
        var PopupWindowTherapeuticClass = $("#PopupWindowTherapeuticClass").kendoWindow({
            width: "50%",
            height: "70%",
            draggable: true,
            modal: true,
            title: "List Of Values."
        }).data("kendoWindow").center();



        /// On Key pressing event in DosageForm Selection Field
        $('#btnTherapeuticClass').click(function () {
            PopupWindowTherapeuticClass.open();
            $.ajax({
                url: '/TherapeuticClassInfo/GetTherapeuticClass',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridTherapeuticClass').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });


        $("#TherapeuticClassName").on('keyup keypress keydown click dblclick', function (e) {
            PopupWindowTherapeuticClass.open();
            $.ajax({
                url: '/TherapeuticClassInfo/GetTherapeuticClass',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridTherapeuticClass').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });
        /// Creating GRID For Loading TherapeuticClass Information
        var PopupGridTherapeuticClass = $('#PopupWindowGridTherapeuticClass').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "TherapeuticClassCode",
                        fields: {
                            TherapeuticClassCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtPopupTH'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "TherapeuticClassCode", title: "TherapeuticClass Code", width: 80 },
                 { field: "TherapeuticClassName", title: "TherapeuticClass Name", width: 100 },

            ]

        }).data('kendoGrid');

        $("#txtPopupTH").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGridTherapeuticClass").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "TherapeuticClassCode", operator: "contains", value: val },
                     { field: "TherapeuticClassName", operator: "contains", value: val }

                ]
            });
        });


        /// On Grid Double Click, append data in appropriate field
        $('#PopupWindowGridTherapeuticClass').dblclick(function () {
            var grid = $(this).data('kendoGrid');

            var selectRow = grid.dataItem(grid.select());
            $('#TherapeuticClassCode').val(selectRow.TherapeuticClassCode);
            $('#TherapeuticClassName').val(selectRow.TherapeuticClassName);
            PopupWindowTherapeuticClass.close();
        });
        /// end TherapeuticClass form//


        // Company window for find button
        var ViewPopupWindow = $("#ViewPopupWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Product"
        }).data("kendoWindow").center();

        $('#btnView').click(function () {

            ViewPopupWindow.open();

            $.ajax({
                url: '/ProductInfo/GetProduct',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        ViewPopupWindow.close();
                        AcknowledgeMsg();
                    }

                },
                error: function () {
                    alert('Error occured!');
                },
                //complete: function () { },
            });

        });

        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#PopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ProductCode",
                        fields: {
                            ProductCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel",{ template: "<input type='text' id='txtPopupInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "CompanyCode", title: "CompanyCode", width: 80 },
                 { field: "CompanyName", title: "CompanyName", width: 150 },
                { field: "CompanyUnitCode", title: "CompanyUnitCode", width: 150 },
                { field: "CompanyUnitName", title: "CompanyUnitName", width: 150 },
                 { field: "ProductCode", title: "Product Code", width: 80 },
                 { field: "SAPProductCode", title: "SAP Product Code", width: 80 },
                 { field: "BrandName", title: "Brand Name", width: 100 },
                 { field: "YearMonth", title: "SetYearMonth", width: 100 },
                 { field: "GenericCode", title: "Generic & Strength", width: 180 },
                 //{ field: "StrengthName", title: "Strength Name", width: 100 },
                 { field: "DosageFormName", title: "Dosage Form", width: 100 },
                 { field: "PackSizeName", title: "Pack Size", width: 100 },
                 { field: "ProductCategory", title: "Product Category", width: 100 }
            ]

        }).data('kendoGrid');

        $('#PopupWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            ViewPopupWindow.close();
            SetMasterData(selectRow);

        });

        //Produc Name twise Filter table row
        $("#txtPopupInput").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                    { field: "CompanyUnitCode", operator: "contains", value: val },
                    { field: "CompanyUnitName", operator: "contains", value: val },
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "SAPProductCode", operator: "contains", value: val },
                     { field: "YearMonth", operator: "contains", value: val },
                     { field: "BrandName", operator: "contains", value: val },
                     { field: "GenericCode", operator: "contains", value: val },
                     { field: "DosageFormName", operator: "contains", value: val },
                     //{ field: "StrengthName", operator: "contains", value: val },
                     { field: "PackSizeName", operator: "contains", value: val },
                     { field: "ProductCategory", operator: "contains", value: val },
                ]
            });
        });

        $('#btnSave').click(function () {
            debugger
            var Input =  InputValidation('CompanyCode');
            if (Input == 0) {
                master.CompanyCode = $('#CompanyUnitCode').val();
                master.ProductCode = $('#ProductCode').val();
                master.SAPProductCode = $('#SAPProductCode').val();
                master.BrandName = $('#BrandName').val();               
                master.PackSizeName = $('#PackSizeName').val();
                master.DosageFormCode = $('#DosageFormCode').val();
                master.DosageFormName = $('#DosageFormName').val();
                master.ProductCategory = $('#ProductCategory').val();
                master.TherapeuticClassCode = $('#TherapeuticClassCode').val();
                master.TherapeuticClassName = $('#TherapeuticClassName').val();
                master.ProductSpecification = $('#ProductSpecification').val();
                master.IntroducedInBD = $('#IntroducedInBD').val();
                master.ManufacturingType = $('#ManufacturingType').val();
                master.ProductTypeCode = $('#ProductTypeCode').val();
                master.ProductTypeName = $('#ProductTypeName').val();
                master.Status = $('#Status').val();
                master.Remarks = $('#Remarks').val();
                $.ajax({
                    //url: '/ProductInfo/frmProductInfo',
                    url: '@Url.Action("frmProductInfo", "ProductInfo")',
                    data: JSON.stringify(master),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            $("#ProductCode").val(data.ID);
                            OperationMsg(data.Mode);
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                        }

                    }
                    //,error: function () { ErrorFrmClientMsg(); },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            }
            else {
                ValidationMsg();
            }

        });
        var master = { "CompanyCode": "", "CompanyUnitCode": "", "ProductCode": "", "SAPProductCode": "", "BrandName": "", "GenericCode": "", "DosageFormCode": "", "DosageFormName": "", "PackSizeName": "", "ProductCategory": "", "TherapeuticClassCode": "", "TherapeuticClassName": "", "ProductSpecification": "", "IntroducedInBD": "", "ManufacturingType": "", "ProductTypeCode": "", "ProductTypeName": "", "Status": "", "Remarks": "" };
    });
</script>


<div class="box-header with-border">
    @*Form Title*@
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
        <div style="text-align:right;">

            <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save"></i>Save</button>
            <button id="btnView" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
            <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>

        </div>
    </div>
</div>

<div class="box-body">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Company Code<span style="color: red">*</span> : </div>
            <div class="col-sm-2">
                <input type="text" id="CompanyCode" name="CompanyCode" class="form-control txtBox" placeholder="Press Any" readonly />
            </div>
            <div class="col-sm-1">@*<button id="btnFind" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>*@</div>
            <div class="col-sm-2">Company Name :</div>
            <div class="col-sm-3"><input type="text" id="CompanyName" name="CompanyName" class="form-control" readonly /></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2"> Unit Code:</div>
            <div class="col-sm-2"><input type="text" id="CompanyUnitCode" name="CompanyUnitCode" readonly="readonly" class="form-control" placeholder="Auto" /></div>

            <div class="col-sm-1"></div>

            <div class="col-sm-2"> Unit Name:</div>
            <div class="col-sm-3">
                <input type="text" id="CompanyUnitName" name="CompanyUnitName" readonly="readonly" class="form-control" placeholder="Auto" />
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2"> Product Code:</div>
            <div class="col-sm-2"><input type="text" id="ProductCode" name="ProductCode" readonly="readonly" class="form-control" placeholder="Auto" /></div>

            <div class="col-sm-1"></div>

            <div class="col-sm-2"> SAP Product Code:</div>
            <div class="col-sm-3">
                <input type="text" maxlength="150" id="SAPProductCode" name="SAPProductCode" placeholder="SAP Product Code" class="form-control" />
            </div>

        </div>
    </div>

    @*<div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2"> Generic & Strength<span style="color: red">*</span>:</div>
                <div class="col-xs-0 col-sm-6 col-md-3 col-lg-9">
                    <textarea class="form-control" id="GenericCode" name="GenericCode" maxlength="1000" placeholder="Generic & Strength" rows="3"></textarea>
                </div>

            </div>
        </div>*@
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Pack Size :</div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">
                <input type="text" id="PackSizeName" name="PackSizeName" maxlength="300" placeholder="Pack Size" class="form-control" />
            </div>
            @*   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1"></div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Dosage Form :</div>
                <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                    <input type="hidden" id="DosageFormCode" name="DosageFormCode" class="form-control" />
                    <input type="text" id="DosageFormName" name="DosageFormName" placeholder="Press Any" class="form-control" />
                </div>

                <div class="col-xs-0 col-sm-0 col-md-3 col-lg-1">*@
            @*<button id="btnDosageForm" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>*@
        </div>

    </div>
</div>

    <div class="form-group">
        <div class="row">
           @* <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2"> Introduced In Bangladesh:</div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">
                <select class="form-control text" id="IntroducedInBD">
                    <option selected="selected" value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>*@
           @* <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1"></div>*@
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Brand Name :</div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">
                <input type="text" id="BrandName" name="BrandName" placeholder="Brand Name" class="form-control" />
            </div>


            @*<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Product Type :</div>
                <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                    <input type="hidden" id="ProductTypeCode" name="ProductTypeCode" class="form-control" />
                    <input type="text" id="ProductTypeName" name="ProductTypeName" placeholder="Product Type" class="form-control" />
                </div>

                <div class="col-xs-0 col-sm-0 col-md-3 col-lg-1">
                    <button id="btnProductType" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>Find</button>
                </div>*@

        </div>
    </div>


    <div class="form-group">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Product Specification :</div>
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                <select class="form-control text" id="ProductSpecification">
                    <option value="INN">INN</option>
                    <option selected="selected" value="Compendial">Compendial</option>
                </select>

            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-3 col-lg-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2"> Therapeutic Class :</div>
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                <input type="hidden" id="TherapeuticClassCode" name="TherapeuticClassCode" class="form-control" />
                <input type="text" id="TherapeuticClassName" name="TherapeuticClassName" placeholder="Press Any" class="form-control" />
            </div>*@

            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-1">
                @*<button id="btnTherapeuticClass" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>*@
            </div>

        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Product Category :</div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">
                <select class="form-control text" id="ProductCategory">
                    <option selected="selected" value="Biological">Biological</option>
                    <option value="Non-Biological">Non-Biological</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Manufacturing Type :</div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">

                <select class="form-control text" id="ManufacturingType">
                    <option selected="selected" value="Local">Local</option>
                    <option value="Import">Import</option>
                </select>

            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Status : </div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">
                <select class="form-control text" id="Status">
                    <option selected="selected" value="Active">Active</option>
                    <option value="Inactive">Inactive</option>

                </select>


            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Remarks : </div>
            <div class="col-xs-0 col-sm-6 col-md-3 col-lg-9">
                <textarea class="form-control" id="Remarks" name="Remarks" placeholder="Remarks" rows="3"></textarea>
            </div>

        </div>
    </div>



</div>

<div class="box-footer">@*Form Footer*@</div>
<div class="row">
    <div id="ViewPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGrid" class="PopUpGrid"></div>
    </div>

    @*<div id="PopupWindowStrength" class="PopupWindowLayout" style="display: none;">
            <div id="PopupWindowGridStrength" class="PopUpGrid"></div>
        </div>*@


    @*<div id="PopupWindowGeneric" class="PopupWindowLayout" style="display: none;">
            <div id="PopupWindowGridGeneric" class="PopUpGrid"></div>
        </div>*@

    <div id="PopupWindowDosageForm" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridDosageForm" class="PopUpGrid"></div>
    </div>

    <div id="PopupWindowPackSize" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridPackSize" class="PopUpGrid"></div>
    </div>

    <div id="PopupWindowProductType" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridProductType" class="PopUpGrid"></div>
    </div>

    <div id="PopupWindowTherapeuticClass" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridTherapeuticClass" class="PopUpGrid"></div>
    </div>
    <div id="CompanyWindow" class="PopupWindowLayout" style="display: none;">
        <div id="CompanyWindowGrid" class="PopUpGrid"></div>
    </div>

</div>







