@{
    //ViewBag.Title = "frmGmpCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CustomCSS/InputText.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        EventPermission();
        $('#btnReset').click(function () {
            //  master.StrengthCode = $("#StrengthCode option:selected").val();
            ResetData();
            $("#Status").val("Active");
        });

        // Company window for find button
        var CompanyWindow = $("#CompanyWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Company."
        }).data("kendoWindow").center();


        $('#btnFind').click(function () {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {

                    var flatData = [];

                    $.each(data, function (i, company) {

                        if (company.Units && company.Units.length > 0) {
                            $.each(company.Units, function (j, unit) {
                                flatData.push({
                                    CompanyCode: company.CompanyCode,
                                    CompanyName: company.CompanyName,
                                    LicenseNo: company.LicenseNo,
                                    CompanyUnitCode: unit.CompanyUnitCode,
                                    CompanyUnitName: unit.CompanyUnitName
                                });
                            });
                        } else {
                            flatData.push({
                                CompanyCode: company.CompanyCode,
                                CompanyName: company.CompanyName,
                                LicenseNo: company.LicenseNo,
                                CompanyUnitCode: "",
                                CompanyUnitName: ""
                            });
                        }
                    });

                    $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(flatData);
                }
            });
        });
        // CompanyCode এর পুরনো event সরিয়ে এটা দিন:
$("#CompanyName").on('click', function () {
    CompanyWindow.open();
    $.ajax({
        url: '@Url.Action("GetAllCompany", "General")',
        method: 'get',
        data: 'json',
        success: function (data) {
            var flatData = [];
            $.each(data, function (i, company) {
                if (company.Units && company.Units.length > 0) {
                    $.each(company.Units, function (j, unit) {
                        flatData.push({
                            CompanyCode: company.CompanyCode,
                            CompanyName: company.CompanyName,
                            LicenseNo: company.LicenseNo,
                            CompanyUnitCode: unit.CompanyUnitCode,
                            CompanyUnitName: unit.CompanyUnitName
                        });
                    });
                } else {
                    flatData.push({
                        CompanyCode: company.CompanyCode,
                        CompanyName: company.CompanyName,
                        LicenseNo: company.LicenseNo,
                        CompanyUnitCode: "",
                        CompanyUnitName: ""
                    });
                }
            });
            $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(flatData);
        }
    });
});
        //Initializing Main page details Kendo Grid Colums
        var companyGrid = $('#CompanyWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CompanyCode",
                        fields: {
                            CompanyCode: { type: "string" },
                            Units: { defaultValue: [] }
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtCompanyKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
               //  { field: "CompanyCode", title: "CompanyCode", width: 80 },
                 { field: "CompanyName", title: "Company Name", width: 100, filterable: { multi: true } },
                //{ field: "CompanyUnitCode", title: "CompanyUnitCode", width: 160 },
                { field: "CompanyUnitName", title: "Unit Name", width: 80 }
            ]

        }).data('kendoGrid');

        $('#CompanyWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            $('#CompanyCode').val(selectRow.CompanyCode);
            $('#CompanyName').val(selectRow.CompanyName);
            $('#CompanyUnitCode').val(selectRow.CompanyUnitCode);
            $('#CompanyUnitName').val(selectRow.CompanyUnitName);
            CompanyWindow.close();
            changeAny = 1;

        });

        //Company Name wise Filter table row
        $("#txtCompanyKeyword").keyup(function () {
            var val = $(this).val();
            $("#CompanyWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "Address", operator: "contains", value: val }
                ]
            });
        });




        /// for dosage form////
        /// Creating POP UP For the GetDosageForm Grid To Load
        var PopupWindowDosageForm = $("#PopupWindowDosageForm").kendoWindow({
            width: "50%",
            height: "70%",
            draggable: true,
            modal: true,
            title: "List Of Values."
        }).data("kendoWindow").center();



        /// On Key pressing event in DosageForm Selection Field
        // $("#StrengthName").on('keyup keypress keydown dblclick', function (e) {
        $('#btnDosageForm').click(function () {
            PopupWindowDosageForm.open();
            $.ajax({
                url: '/DosageFormInfo/GetDosageForm',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridDosageForm').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });

        $("#DosageFormName").on('keyup keypress keydown click dblclick', function (e) {
            PopupWindowDosageForm.open();
            $.ajax({
                url: '/DosageFormInfo/GetDosageForm',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridDosageForm').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });

        /// Creating GRID For Loading DosageForm Information
        var PopupGridDosageForm = $('#PopupWindowGridDosageForm').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "DosageFormCode",
                        fields: {
                            DosageFormCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtPopupDosageForm'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "DosageFormCode", title: "DosageForm Code", width: 80 },
                 { field: "DosageFormName", title: "DosageForm Name", width: 100 },

            ]

        }).data('kendoGrid');

        $("#txtPopupDosageForm").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGridDosageForm").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "DosageFormCode", operator: "contains", value: val },
                     { field: "DosageFormName", operator: "contains", value: val }

                ]
            });
        });

        /// On Grid Double Click, append data in appropriate field
        $('#PopupWindowGridDosageForm').dblclick(function () {
            var grid = $(this).data('kendoGrid');

            var selectRow = grid.dataItem(grid.select());
            $('#DosageFormCode').val(selectRow.DosageFormCode);
            $('#DosageFormName').val(selectRow.DosageFormName);
            PopupWindowDosageForm.close();
        });
        /// end Dosage form//

        /// for ProductType////
        /// Creating POP UP For the ProductType Grid To Load
        var PopupWindowProductType = $("#PopupWindowProductType").kendoWindow({
            width: "50%",
            height: "70%",
            draggable: true,
            modal: true,
            title: "List Of Values."
        }).data("kendoWindow").center();



        /// On Key pressing event in PRODUCT TYPE Selection Field
        $("#btnProductType").click(function () {
            PopupWindowProductType.open();
            $.ajax({
                url: '/ProductTypeInfo/GetProductType',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridProductType').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });


        /// Creating GRID For Loading ProductType Information
        var PopupGridProductType = $('#PopupWindowGridProductType').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ProductTypeCode",
                        fields: {
                            ProductTypeCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtPopupProductType'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ProductTypeCode", title: "ProductType Code", width: 80 },
                 { field: "ProductTypeName", title: "ProductType Name", width: 100 },

            ]

        }).data('kendoGrid');

        $("#txtPopupProductType").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGridProductType").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "ProductTypeCode", operator: "contains", value: val },
                     { field: "ProductTypeName", operator: "contains", value: val }

                ]
            });
        });

        /// On Grid Double Click, append data in appropriate field
        $('#PopupWindowGridProductType').dblclick(function () {
            var grid = $(this).data('kendoGrid');

            var selectRow = grid.dataItem(grid.select());
            $('#ProductTypeCode').val(selectRow.ProductTypeCode);
            $('#ProductTypeName').val(selectRow.ProductTypeName);
            PopupWindowProductType.close();
        });
        /// end ProductTypeName form//


        /// for THERAPEUTIC////
        /// Creating POP UP For the TherapeuticClass Grid To Load
        var PopupWindowTherapeuticClass = $("#PopupWindowTherapeuticClass").kendoWindow({
            width: "50%",
            height: "70%",
            draggable: true,
            modal: true,
            title: "List Of Values."
        }).data("kendoWindow").center();



        /// On Key pressing event in DosageForm Selection Field
        $('#btnTherapeuticClass').click(function () {
            PopupWindowTherapeuticClass.open();
            $.ajax({
                url: '/TherapeuticClassInfo/GetTherapeuticClass',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridTherapeuticClass').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });


        $("#TherapeuticClassName").on('keyup keypress keydown click dblclick', function (e) {
            PopupWindowTherapeuticClass.open();
            $.ajax({
                url: '/TherapeuticClassInfo/GetTherapeuticClass',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGridTherapeuticClass').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });
        /// Creating GRID For Loading TherapeuticClass Information
        var PopupGridTherapeuticClass = $('#PopupWindowGridTherapeuticClass').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "TherapeuticClassCode",
                        fields: {
                            TherapeuticClassCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtPopupTH'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "TherapeuticClassCode", title: "TherapeuticClass Code", width: 80 },
                 { field: "TherapeuticClassName", title: "TherapeuticClass Name", width: 100 },

            ]

        }).data('kendoGrid');

        $("#txtPopupTH").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGridTherapeuticClass").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "TherapeuticClassCode", operator: "contains", value: val },
                     { field: "TherapeuticClassName", operator: "contains", value: val }

                ]
            });
        });


        /// On Grid Double Click, append data in appropriate field
        $('#PopupWindowGridTherapeuticClass').dblclick(function () {
            var grid = $(this).data('kendoGrid');

            var selectRow = grid.dataItem(grid.select());
            $('#TherapeuticClassCode').val(selectRow.TherapeuticClassCode);
            $('#TherapeuticClassName').val(selectRow.TherapeuticClassName);
            PopupWindowTherapeuticClass.close();
        });
        /// end TherapeuticClass form//


        // Company window for find button
        var ViewPopupWindow = $("#ViewPopupWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Product"
        }).data("kendoWindow").center();

        $('#btnView').click(function () {

            ViewPopupWindow.open();

            $.ajax({
                url: '/ProductInfo/GetProduct',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        ViewPopupWindow.close();
                        AcknowledgeMsg();
                    }

                },
                error: function () {
                    alert('Error occured!');
                },
                //complete: function () { },
            });

        });

        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#PopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ProductCode",
                        fields: {
                            ProductCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel",{ template: "<input type='text' id='txtPopupInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                // { field: "CompanyCode", title: "CompanyCode", width: 80 },
                 { field: "CompanyName", title: "Company Name", width: 150 },
               // { field: "CompanyUnitCode", title: "CompanyUnitCode", width: 150 },
                { field: "CompanyUnitName", title: "Unit Name", width: 150 },
                { field: "ProductName", title: "Product Name", width: 150 },
                 //{ field: "ProductCode", title: "Serial No", width: 80 },
                // { field: "SAPProductCode", title: "Product Code", width: 80 },
                 { field: "BrandName", title: "Brand Name", width: 100 },
                 //{ field: "YearMonth", title: "SetYearMonth", width: 100 },
                // { field: "GenericCode", title: "Generic & Strength", width: 180 },
                 //{ field: "StrengthName", title: "Strength Name", width: 100 },
                // { field: "DosageFormName", title: "Dosage Form", width: 100 },
                 { field: "PackSizeName", title: "Pack Size", width: 100 },
                 { field: "ProductCategory", title: "Product Category", width: 100 }
            ]

        }).data('kendoGrid');

        $('#PopupWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            ViewPopupWindow.close();
            SetMasterData(selectRow);

        });

        //Produc Name twise Filter table row
        $("#txtPopupInput").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                    { field: "CompanyUnitCode", operator: "contains", value: val },
                    { field: "CompanyUnitName", operator: "contains", value: val },
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "SAPProductCode", operator: "contains", value: val },
                     { field: "YearMonth", operator: "contains", value: val },
                     { field: "BrandName", operator: "contains", value: val },
                     { field: "GenericCode", operator: "contains", value: val },
                     { field: "DosageFormName", operator: "contains", value: val },
                     //{ field: "StrengthName", operator: "contains", value: val },
                     { field: "PackSizeName", operator: "contains", value: val },
                     { field: "ProductCategory", operator: "contains", value: val },
                ]
            });
        });

        $('#btnSave').click(function () {
            debugger
            debugger
            var Input = InputValidation('CompanyCode') +
                InputValidation('ProductName') +
                InputValidation('BrandName') +
                InputValidation('ProductVariant') +
                InputValidation('PackSizeName');
            if (Input == 0) {
                master.CompanyCode = $('#CompanyUnitCode').val();
                master.ProductCode = $('#ProductCode').val();
                master.ProductVariant = $('#ProductVariant').val();
                master.ProductName = $('#ProductName').val();
                master.SAPProductCode = $('#SAPProductCode').val();
                master.BrandName = $('#BrandName').val();
                master.PackSizeName = $('#PackSizeName').val();
                master.DosageFormCode = $('#DosageFormCode').val();
                master.DosageFormName = $('#DosageFormName').val();
                master.ProductCategory = $('#ProductCategory').val();
                master.TherapeuticClassCode = $('#TherapeuticClassCode').val();
                master.TherapeuticClassName = $('#TherapeuticClassName').val();
                master.ProductSpecification = $('#ProductSpecification').val();
                master.IntroducedInBD = $('#IntroducedInBD').val();
                master.ManufacturingType = $('#ManufacturingType').val();
                master.ProductTypeCode = $('#ProductTypeCode').val();
                master.ProductTypeName = $('#ProductTypeName').val();
                master.Status = $('#Status').val();
                master.Remarks = $('#Remarks').val();
                $.ajax({
                    //url: '/ProductInfo/frmProductInfo',
                    url: '@Url.Action("frmProductInfo", "ProductInfo")',
                    data: JSON.stringify(master),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            $("#ProductCode").val(data.ID);
                            OperationMsg(data.Mode);
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                        }

                    }
                    //,error: function () { ErrorFrmClientMsg(); },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            }
            else {
                ValidationMsg();
            }

        });
        var master = { "CompanyCode": "", "CompanyUnitCode": "", "ProductCode": "", "ProductVariant": "", "ProductName": "", "SAPProductCode": "", "BrandName": "", "GenericCode": "", "DosageFormCode": "", "DosageFormName": "", "PackSizeName": "", "ProductCategory": "", "TherapeuticClassCode": "", "TherapeuticClassName": "", "ProductSpecification": "", "IntroducedInBD": "", "ManufacturingType": "", "ProductTypeCode": "", "ProductTypeName": "", "Status": "", "Remarks": "" };
    });
</script>


<style>
    /* ── Modern Form UI Redesign ── */
    :root {
        --primary: #4f46e5;
        --info: #0ea5e9;
        --bg-page: #f4f7fb;
        --card-bg: #ffffff;
        --text-main: #1e293b;
        --text-muted: #475569;
        --border-soft: #e2e8f0;
    }

    /* Action Bar */
    .action-bar {
        background: var(--card-bg);
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 12px rgba(0, 0, 0, 0.04);
        padding: 16px 24px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--border-soft);
    }

    .action-bar .btn {
        border-radius: 8px;
        font-weight: 600;
        padding: 8px 20px;
        transition: all 0.2s ease;
        margin-left: 8px;
        border: none;
    }
    .action-bar .btn i { margin-right: 6px; }

    .btn-primary { background-color: var(--primary); box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3); }
    .btn-primary:hover { background-color: #4338ca; transform: translateY(-1px); }

    .btn-info { background-color: var(--info); box-shadow: 0 4px 10px rgba(14, 165, 233, 0.3); color: #fff; }
    .btn-info:hover { background-color: #0284c7; transform: translateY(-1px); color: #fff; }

    .btn-default { background-color: #f1f5f9; color: #334155; border: 1px solid #cbd5e1; }
    .btn-default:hover { background-color: #e2e8f0; color: #0f172a; }

    /* Cards */
    .gui-card {
        background: var(--card-bg);
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 12px rgba(0, 0, 0, 0.04);
        border: 1px solid var(--border-soft);
        padding: 30px 24px;
        margin-bottom: 24px;
    }
    .gui-card.context-card {
        background: #fcfdfd;
        border-left: 4px solid var(--info);
    }

    .gui-section-title {
        font-size: 16px;
        font-weight: 700;
        color: var(--text-main);
        margin-top: 0;
        margin-bottom: 25px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--border-soft);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* Form Elements - Horizontal Layout */
    .form-group {
        margin-bottom: 20px;
    }

    .modern-label {
        font-size: 13.5px;
        font-weight: 600;
        color: var(--text-muted);
        text-align: left; /* Changed from right to left */
        padding-top: 8px;
        letter-spacing: 0.3px;
    }

    .form-control {
        border-radius: 6px;
        border: 1px solid #cbd5e1;
        padding: 8px 14px;
        height: auto;
        font-size: 14px;
        color: var(--text-main);
        box-shadow: none !important;
        transition: all 0.2s;
    }

    .form-control:focus {
        border-color: var(--primary);
        background-color: #fff;
        box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1) !important;
    }

    .form-control[readonly] {
        background-color: #f1f5f9;
        color: #64748b;
        cursor: not-allowed;
        border-color: #e2e8f0;
    }

    .asterisk { color: #ef4444; font-weight: bold; margin-left: 2px; }

    /* For smaller screens, override text alignment */
    media (max-width: 768px) {
        .modern-label { padding-top: 0; margin-bottom: 6px; }
        .gap-col { display: none; }
    }
</style>

<div class="container-fluid" style="padding: 20px 0;">

    <!-- ── Action Bar ── -->
    <div class="action-bar">
        <div id="MessageText" style="font-weight: 600; color: #10b981;"></div>
        <div style="margin-left: auto;">
            <button id="btnSave" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-save"></i> Save Product</button>
            <button id="btnView" class="btn btn-info" type="button"><i class="glyphicon glyphicon-search"></i> Search</button>
            <button id="btnReset" class="btn btn-default" type="button"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
        </div>
    </div>

    <!-- ── Main Form Body ── -->
    <div class="box-body" style="padding: 0;">

        <!-- Section 1: Company Context (Read Only) -->
        <div class="gui-card context-card">
            <h4 class="gui-section-title"><i class="glyphicon glyphicon-briefcase text-info"></i> Company Information</h4>

            <!-- Company Code: hidden করো, কিন্তু input রাখো -->
            <div class="row form-group">
                <label class="col-sm-2 modern-label">Company Name <span class="asterisk">*</span></label>
                <div class="col-sm-4">
                    <input type="text" id="CompanyName" name="CompanyName" class="form-control txtBox" placeholder="Click to select..." readonly />
                </div>

                <div class="col-sm-1 gap-col"></div>

                <label class="col-sm-2 modern-label">Unit Name</label>
                <div class="col-sm-3">
                    <input type="text" id="CompanyUnitName" name="CompanyUnitName" class="form-control" placeholder="Auto" readonly />
                </div>
            </div>

            <!-- Hidden inputs — backend এর জন্য রইল -->
            <input type="hidden" id="CompanyCode" name="CompanyCode" />
            <input type="hidden" id="CompanyUnitCode" name="CompanyUnitCode" />
        </div>

        <div class="gui-card">
            <h4 class="gui-section-title"><i class="glyphicon glyphicon-tag text-primary"></i> Product Details</h4>

            <input type="hidden" id="ProductCode" name="ProductCode" />

            <div class="row form-group">
                <label class="col-sm-2 modern-label">Product Name <span class="asterisk">*</span></label>
                <div class="col-sm-3">
                    <input type="text" maxlength="150" id="ProductName" name="ProductName" placeholder="Enter Product Name" class="form-control" />
                </div>


                <div class="col-sm-1 gap-col"></div>

                <label class="col-sm-2 modern-label">Brand Name <span class="asterisk">*</span></label>
                <div class="col-sm-3">
                    <input type="text" id="BrandName" name="BrandName" placeholder="Enter Brand Name" class="form-control" />
                </div>
            </div>

            <div class="row form-group" style="margin-bottom: 0;">
                <label class="col-sm-2 modern-label">Pack Size <span class="asterisk">*</span></label>
                <div class="col-sm-3">
                    <input type="text" id="PackSizeName" name="PackSizeName" maxlength="300" placeholder="e.g. 10x10" class="form-control" />
                </div>

                <div class="col-sm-1 gap-col"></div>
                <label class="col-sm-2 modern-label">Product Variant <span class="asterisk">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="ProductVariant" name="ProductVariant" placeholder="Enter Product Variant" />
                </div>
                
            </div>
        </div>

        <!-- Section 3: Classification & Status -->
        <div class="gui-card">
            <h4 class="gui-section-title"><i class="glyphicon glyphicon-cog text-primary"></i> Classification & Settings</h4>

            <div class="row form-group">
                <label class="col-sm-2 modern-label">Product Category</label>
                <div class="col-sm-3">
                    <select class="form-control text" id="ProductCategory">
                        <option selected="selected" value="HairCare">Hair Care</option>
                        <option value="SkinCare">Skin Care</option>
                    </select>
                </div>

                <div class="col-sm-1 gap-col"></div>  

                <label class="col-sm-2 modern-label">Manufacturing Type</label>
                <div class="col-sm-4">
                    <select class="form-control text" id="ManufacturingType">
                        <option selected="selected" value="Local">Local</option>
                        <option value="Import">Import</option>
                    </select>
                </div>
            </div>

            <div class="row form-group" style="margin-bottom: 0;">
                <label class="col-sm-2 modern-label">Status</label>
                <div class="col-sm-3">
                    <select class="form-control text" id="Status">
                        <option selected="selected" value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>

                <div class="col-sm-1 gap-col"></div>  

                <label class="col-sm-2 modern-label">Remarks</label>
                <div class="col-sm-4">
                    <textarea class="form-control" id="Remarks" name="Remarks" placeholder="Enter any additional remarks here..." rows="2"></textarea>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="box-footer" style="background: transparent; border-top: none;"></div>

<!-- ── Popup Windows (Hidden) ── -->
<div class="row">
    <div id="ViewPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGrid" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowDosageForm" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridDosageForm" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowPackSize" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridPackSize" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowProductType" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridProductType" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowTherapeuticClass" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridTherapeuticClass" class="PopUpGrid"></div>
    </div>
    <div id="CompanyWindow" class="PopupWindowLayout" style="display: none;">
        <div id="CompanyWindowGrid" class="PopUpGrid"></div>
    </div>
</div>





